name: Check Upstream

on:
  schedule:
    - cron: '5 5 * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-slim
    permissions:
      contents: read
    env: 
      UPSTREAM_REPO: 'open-ani/animeko'
    strategy:
      fail-fast: false
      matrix:
        release_type: ['stable', 'alpha']
        include:
          - release_type: 'stable'
            cask_name: 'animeko'
            cask_filename: 'animeko.rb'
          - release_type: 'alpha'
            cask_name: 'animeko@alpha'
            cask_filename: 'animeko@alpha.rb'
    steps:
      - name: Clone Casks Repo
        id: clone_repo
        uses: actions/checkout@v6
        with:
          fetch-depth: '1'

      - name: Check Cask Version (Local)
        id : check_cask_version_loacl
        working-directory: ./Casks
        run: |
          CASK_VERSION=$(grep 'version "' ${{ matrix.cask_filename }} | cut -d '"' -f 2)
          echo "local cask version(${{ matrix.release_type }}): $CASK_VERSION"
          echo "cask_version=$CASK_VERSION" >> $GITHUB_OUTPUT

      - name: Check Upstream Version (Stable)
        id: check_upstream_version_stable
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          STABLE_VERSION=$(gh release view --repo "$UPSTREAM_REPO" --json tagName -q .tagName)
          echo "upstream stable version: ${STABLE_VERSION:-None}"
          echo "CANDIDATE_VERSION=$STABLE_VERSION" >> $GITHUB_ENV

      - name: Check Upstream Version (Alpha)
        id: check_upstream_version_alpha
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: matrix.release_type == 'alpha'
        run: |
          ALPHA_VERSION=$(gh release list --repo "$UPSTREAM_REPO" --limit 10 --json tagName,isPrerelease -q 'map(select(.isPrerelease)) | first | .tagName')
          echo "upstream alpha version: ${ALPHA_VERSION:-None}"
          
          STABLE_VERSION="$CANDIDATE_VERSION"
          
          WINNER=$(echo -e "$STABLE_VERSION\n$ALPHA_VERSION" | sort -V | tail -n 1)

          if [ "$WINNER" == "$ALPHA_VERSION" ]; then
              FINAL_CHOICE="$ALPHA_VERSION"
          else
              FINAL_CHOICE="$STABLE_VERSION"
          fi
          
          echo "CANDIDATE_VERSION=$FINAL_CHOICE" >> $GITHUB_ENV

      - name: Summary
        id: summary
        run: |
          CLEAN_VERSION="${CANDIDATE_VERSION#v}"

          echo "target cask filename: ${{ matrix.cask_filename }}"
          echo "local cask version: ${{ steps.check_cask_version_loacl.outputs.cask_version }}"
          echo "candidate upstream version: $CLEAN_VERSION"
          echo "version=$CLEAN_VERSION" >> $GITHUB_OUTPUT

          if [ "$CLEAN_VERSION" != "${{ steps.check_cask_version_loacl.outputs.cask_version }}" ]; then
            echo "found a new upstream version, update available!"
            echo "${{ steps.check_cask_version_loacl.outputs.cask_version }} -> $CLEAN_VERSION"
          else
            echo "already up to date!"
          fi

